<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask CRUD</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
</head>

<body>

    <h1>Flask CRUD</h1>

    <div id="flashes">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, msg in messages %}
                    {% if category == 'error' %}
                        <mark>{{ msg }}</mark>
                    {% else %}
                        <div>{{ msg }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <form method=post enctype=multipart/form-data>
      <input type=file name=upload_file>
      <input type=submit value=Upload>
    </form>
    
</body>
</html>
