<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask CRUD</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
</head>

<body>

    <!-- TITLE -->
    <h1>Flask CRUD</h1>

    <!-- SEARCH -->
    <h2>search</h2>
    <hr>
    <br>
    <form action="{{ url_for('search') }}" method="post">
        <input type="text" name="query" style="width: 200px">
        <input type="submit">
    </form>
    <form action="{{ url_for('index') }}">
        <input type="submit" value="Clear">
    </form>

    <!-- LISTVIEW -->
    <h2>things</h2>
    <table>
        <thead>
            <th>id</th>
            <th>name</th>
            <th>description</th>
        </thead>
        <tbody>
            {% for i in results.items %}
            <tr>
                <td>{{ i.thing_id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- PAGINATION -->
    {% if query %}
        {% for page in pages %}
            <a href="{{ url_for('get_search_page', page=page, query=query) }}">{{ page }}</a>
        {% endfor %}
    {% else %}
        {% for page in pages %}
            <a href="{{ url_for('get_page', page=page) }}">{{ page }}</a>
        {% endfor %}
    {% endif %}
    
</body>
</html>
