<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask CRUD</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
</head>

<body>

    <h1>Flask CRUD</h1>

    <h3> <mark> no results </mark>  </h3>
    <p>
        <a href="{{ url_for('get_perf_for_concert_first_page', concert=concert) }}"> back to concert</a>
    </p>
    
</body>
</html>
