<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask CRUD</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
</head>

<body>

    <!-- TITLE -->
    <h1>Flask CRUD</h1>

    <!-- SEARCH -->
    <h2>search</h2>
    <hr>
    <br>
    <form action="{{ url_for('do_search', concert=results[0].concert.concert_id) }}" method="post">
        <input type="text" name="query" placeholder="song" style="width: 200px">
        <input type="submit">
    </form>
    <form action="{{ url_for('get_perf_for_concert_first_page', concert=results[0].concert.concert_id) }}">
        <input type="submit" value="Clear">
    </form>

    <!-- LISTVIEW -->
    <h2>concert - {{ results[0].concert.name }}</h2>
    <table>
        <thead>
            <th>id</th>
            <th>rating</th>
            <th>song</th>
            <th>artist</th>
        </thead>
        <tbody>
            {% for i in results %}
            <tr>
                <td>{{ i.perf_id }}</td>
                <td>{{ i.rating }}</td>
                <td>{{ i.song.name }}</td>
                <td>{{ i.song.artist.name }}</td>
            {% endfor %}
        </tbody>
    </table>

    <!-- PAGINATION -->
    {% if query %}
        {% for page in pages %}
            {% if page %}
                <a href="{{ url_for('get_perf_for_concert_page_query', concert=results[0].concert.concert_id, page=page, query=query) }}">{{ page }}</a>
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    {% else %}
        {% for page in pages %}
            {% if page %}
                <a href="{{ url_for('get_perf_for_concert_page', concert=results[0].concert.concert_id, page=page) }}">{{ page }}</a>
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    {% endif %}

</body>
</html>
